.container {
  position: absolute;
  top: 6rem;
  font-size: 3rem;
  padding: 4rem 9rem;
}
.h1 {
  font-size: 6rem;
}
.span {
  color: gold;
  position: relative;
  z-index: 99;
}
/* .span:hover{ */
/* color: white;
    position: relative;
    z-index: 99;
} */
.br {
  border-bottom: 1px solid white;
  margin-top: 5rem;
  width: 80vw;
}

.jpg {
  margin-top: 1em;
}
.imgs {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.img {
  position: relative;
  height: 20vh;
  width: 20vw;
  display: flex;
}
.boxes {
  display: flex;
  gap: 3vh;
  justify-content: space-between;
  align-items: center;
  margin-top: 4vh;
}
.box {
  border: 0.5px solid lightgrey;
  height: 25rem;
  width: 25%;
  border-radius: 25px;
}
#newBox {
  margin-top: 20vh;
}
.span::before {
  content: "";
  position: absolute;
  height: 100%;
  background-color: white;
  width: 100%;
  top: 100%;
  z-index: -1;
  transition: all ease-in-out 0.5s;
  opacity: 0;
}
.span:hover::before {
  /* content: "";
  position: absolute; */
  top: 0;
  opacity: 1;
}